<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50557749736-lcjg4g046i5q31qlknc7ce0jtnj03b3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50557749736-lcjg4g046i5q31qlknc7ce0jtnj03b3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDjLz1tnRJKSAwpHVaMe2CsV6ApDJRIdao</string>
	<key>GCM_SENDER_ID</key>
	<string>50557749736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wendel.Chat-On</string>
	<key>PROJECT_ID</key>
	<string>chat-on-ea62d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-on-ea62d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50557749736:ios:2e20c5c48ff59e09</string>
	<key>DATABASE_URL</key>
	<string>https://chat-on-ea62d.firebaseio.com</string>
</dict>
</plist>